
@{
    ViewBag.Title = "Team";
}
<style>
    .img-fluid {
        aspect-ratio: 1;
    }
</style>
<main id="main">

    <!-- ======= Our Team Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Our Team</h2>
                <ol>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>Our Team</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Team Section -->
    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/Images/WhatsApp Image 2024-05-10 at 22.39.50_40447424.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://github.com/rajpootyash"><i class="bi bi-git"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100034803497653"><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/mwlite/in/yash-rajpoot-9777231b7 "><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Akash Rajpoot</h4>
                            <span>Web Developer</span>
                            <p>Akash Rajpoot is an experienced web developer with expertise in front-end and back-end development. With a Bachelor's Degree in Computer Science or a related field, he brings <b>(3 years)</b> of experience to the team. Proficient in HTML, CSS, JavaScript, React, Node.js, Express, and SQL, C# , Akash is known for his attention to detail and passion for staying updated with the latest web technologies. He excels in crafting seamless digital experiences and is dedicated to delivering innovative solutions. Outside of work, Akash enjoys exploring new hiking trails and Fishing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/Images/WhatsApp Image 2024-05-10 at 10.02.37 PM-removebg-preview.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Pankaj Sharma</h4>
                            <span>IOS Developer</span>
                            <p>
                                Pankaj Sharma is a skilled iOS and Android Developer with <br/> <b>(4 years)</b> of experience specializing in Java,Kotlin and Flutter. Holding a Bachelor's Degree in Information Technolgies(IT) or a related field, he excels in building robust applications using tools like Android Studio and Gradle. Proficient in Android SDK and Jetpack, he is passionate about exploring new technologies to deliver high-quality solutions. Beyond coding, Pankaj enjoys photography, traveling.

                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="~/Content/Images/PR.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href="https://github.com/rajpootyash"><i class="bi bi-git"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100034803497653"><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href="https://www.linkedin.com/mwlite/in/yash-rajpoot-9777231b7 "><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Praveen Pandey</h4>
                            <span>Android Developer</span>
                            <p>Praveen Pandey is a skilled Android Developer with expertise in Java and Kotlin. Holding a Bachelor's  Degree in Computer Science or a related field, he brings <b>(2 years)</b> of experience to mobile app development. Proficient in Android SDK and Jetpack, Praveen excels in building user-friendly and efficient Android applications. He is passionate about exploring new technologies and best practices in Android development to deliver high-quality solutions. Outside of work, Praveen enjoys traveling. </p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->
